#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_MYLEDS
	bool "MY LED driver example"
	default n
	depends on ARCH_HAVE_LEDS && !ARCH_LEDS
	---help---
		Enable the LED driversexample

if EXAMPLES_MYLEDS

config EXAMPLES_MYLEDS_PROGNAME
	string "Program name"
	default "myleds"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_MYLEDS_PRIORITY
	int "MYLED task priority"
	default 100

config EXAMPLES_MYLEDS_STACKSIZE
	int "MYLED stack size"
	default 2048

config EXAMPLES_MYLEDS_DEVPATH
	string "MYLED device path"
	default "/dev/userleds"

config EXAMPLES_MYLEDS_LEDSET
	hex "Subset of MYLEDs to use"
	default 0x0f

endif # EXAMPLES_LEDS
