#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LIU_TEST
	bool "LIU_TEST for test"
	default n
	---help---
		for test examples
